@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 90%;
  padding: 0 1rem;
  margin: auto;
}

img{
 width: 100%;

}

.w-100{
  max-width: 100%;
}